{
    "AWAYMSG": "I'm a bot, use `/stats p' to find an oper.",
    "CHANKEY": "null",
    "CLONES_TYPE": "HOST",
    "CVS_PATH": "/usr/bin/cvs",
    "DATFILE": "$HOME/dronemon/dat/regexps.dat",
    "DEBUG": "0",
    "DLINE_TIME": "14440",
    "FAST_CONNECT_SETMAX": "0",
    "FAST_CONNECT_SETMAX_NUM": "5",
    "FAST_CONNECT_SETMAX_TIME": "60",
    "FAST_CONNECT_START": "2000",
    "FAST_CONNECT_TIME": "10",
    "FAST_CONNECT_WARN": "0",
    "GATHER_VERSTATS": "0",
    "HAMMER_ACTION": "DLINE 4320",
    "HAMMER_COUNT": "5",
    "HAMMER_ENABLE": "0",
    "HAMMER_TIME": "60",
    "HASH_BUILD_METHOD": "ETRACE",
    "HTTP_LOCALADDR": "ANY",
    "IRCCHAN": "#dronemon",
    "IRCNAME": "asdf",
    "IRCNICK": "dronemon",
    "IRCPORT": "6667",
    "IRCSERVER": "irc.someserver.com",
    "IRCUSER": "dronemon",
    "IRCVHOST": "0.0.0.0",
    "JUPED_CHAN_COUNT": "3",
    "JUPED_CHAN_ENABLE": "0",
    "JUPED_CHAN_KLINETIME": "1440",
    "JUPED_CHAN_TIME": "60",
    "KLINE_TIME": "1440",
    "LOGFILE": "$HOME/dronemon/logs/dronemon.log",
    "MIN_CLONE_COUNT": "3",
    "NDATFILE": "$HOME/dronemon/dat/nregexps.dat",
    "OPERNICK": "dronemonoper",
    "OPERPASS": "dronemonpassword",
    "PERSISTANT_QURVE": "0",
    "PERSISTANT_STATS": "0",
    "PIDFILE": "$HOME/dronemon/dronemon.pid",
    "QFORCE_PERM": "0",
    "QKLINE_TIME": "1440",
    "QURVEDAT": "$HOME/dronemon/dat/qurve.dat",
    "QURVEDIR": "$HOME/dronemon/lists/",
    "QURVE_ALWAYS_APPLY": "0",
    "QURVE_AUTOAPPLY": "0",
    "QURVE_BASE_URL": "http://PRIVATE/URL/PLEASE/SUPPLY/",
    "QURVE_GENLIST_URL": "http://PRIVATE/URL/PLEASE/SUPPLY/",
    "QURVE_MAXLISTS": "10",
    "RATBOX_UMODE_C": "0",
    "REGEXP_ADD_ACTION": "NONE",
    "REGEXP_DEFAULT_ACTION": "KLINE 1440",
    "REGEXP_DEFAULT_EXPIRE_TIME": "0",
    "REMOVE_THIS_LINE_FROM_DRONEMON.CONF": "YOU DID READ THE README, RIGHT?",
    "REPORT_HAMMER_TO_CHAN": "1",
    "REPORT_MATCHES_TO_CHAN": "1",
    "REPORT_SEEDRAND_TO_CHAN": "1",
    "SCLONES_SHOW_NONLOCAL": "1",
    "SEEDRAND_ABSMIN": "2000",
    "SEEDRAND_BAN_ACTION": "DLINE 4320",
    "SEEDRAND_BAN_MIN": "0",
    "SEEDRAND_DEBUG": "0",
    "SEEDRAND_MIN": "3500",
    "SEEDRAND_WARN": "0",
    "SEEDRAND_WARN_NOTICE": "Your nickname appears to be artifically generated. Please change your nick within 30 seconds, or you will be automatically banned.",
    "SHOW_GLINE_MATCHES": "1",
    "SPAMTRAP_REPEAT_THRESHOLD": "5",
    "STATSDAT": "$HOME/dronemon/dat/stats.dat",
    "TRIGGER": "\"drone \"",
    "TRUNCATE_FIND_MATCHES": "200",
    "USERFILE": "$HOME/dronemon/dat/users.dat",
    "VERDATFILE": "$HOME/dronemon/dat/versions.dat",
    "VERSTATS_MATCHES": "(mirc|ircn|invision):mirc bitchx epic irssi eggdrop scrollz xchat iroffer ircii ircle xircon trillian blackened pirch bottler polaris sirc sdbot agobot\"",
    "WGET_PATH": "/usr/local/bin/wget"
}